body {
    font-size: 16px;

    p,input,nav,ul,li,a{
	    list-style: none;
	    text-decoration: none;
	    font-family: raleway_medium;
	    border: none;
	    line-height: 180%;
	}

	h1,h2,h3,h4,h5,h6 {
    	font-family: playfair_regular;
	}
}

//header

.menu{
	width: 100%;
	padding: .5rem;

	ul li a{
		padding: 0 1rem 0 1rem;
		color: $font-colorful;
	}
}

.logo {
	width: 18%;
	max-width: 7rem;
	padding: .5rem 0 .4rem .5rem;
}

.cart{
	width: 6%;
	max-width: 3.5rem;
	padding: .5rem .5rem .4rem 0;
}

//banner

.banner {
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    	url(../../assets/images/banner-girl.png), url(../../assets/images/flower-bkgd.jpg);
    background-size: cover, auto 90%;
    background-repeat: repeat-x, no-repeat;
    background-position: 50% ,center 150%;

    h3{
    	color: $font-color-with-bg;
    	font-family: raleway_medium;
    }
    h1{
    	@extend h3;
    }
}

//about

.about{
	padding: $section-padding;

	h2{
		padding: $title-paragraph-padding;
	}
}

/*CATEGORIES*/

.width{
	width:100%;
}

.width2{
	width:50%;
}

.men{
	display: block;
	background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
		url("../../assets/images/mens-category.jpg");
	border-bottom: .50rem solid white;

	h1{
		padding: $category-padding-big;
	}
}

.trends{
	display: block;
	background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
		url("../../assets/images/trends-category.jpg");
	border-right: .50rem solid white;
	border-bottom: .50rem solid white;

	h1{
		padding: $category-padding-small;
	}

}

.glasses{
	display: block;
	background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
		url("../../assets/images/glasses-category.jpg");
	border-bottom: .50rem solid white;

	h1{
		padding: $category-padding-small;
	}

}

.sale{
	display: block;
	background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
		url("../../assets/images/sale-category.jpg");
	border-right: .50rem solid white;

	h1{
		padding: $category-padding-small;
	}

}

.bags{
	display: block;
	background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
		url("../../assets/images/bags-category.jpg");

	h1{
		padding: $category-padding-small;
	}

}

.women{
	display: block;
	background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
		url("../../assets/images/womens-category.jpg");

	h1{
		padding: $category-padding-big;
	}

}

.image-fit{
	background-size: cover;
}

//products

.products{
	padding: $section-padding;

	h2{
		padding: $title-paragraph-padding;
	}
}

.atc{
	background-color: $font-color-no-bg;
	border-style: none;
	border-radius: 5rem;
	display: inline-block;
}

/*Sign-ups section*/

.updates {
	background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)),
		url("../../assets/images/wave-bkgd.jpg");
	background-position: bottom;
	padding: $section-padding;

	h2{
		padding: $title-paragraph-padding;
	}

	p{
		padding: $title-paragraph-padding;
	}
}

.subscribe_form {
    border-radius: 2rem;
    background-color: white;
    color: white;
    padding: .2rem .3rem .2rem 1.5rem;
    width: 21rem;

    input{
    	font-size: .8rem;
    }
}

.subscribe_button {
    background-color: #ed3c21;
    border-radius: 5rem;
    width: 7rem;
    padding: .5rem;
}

/*footer*/

footer{
    background-color: #2d2a2a;
    border-top: .5rem solid white;
    padding: $section-padding;

    div:first-child ul li{
    	line-height: 250%;
    }
}

.social_media_logo {
    width: 30%;
    padding: 0 .5rem 0 .5rem;
}

.social_media_name {
    width: 6rem;
    display: flex;
    justify-content: flex-start;
}
