@font-face{
	font-family: playfair_bold;
	src: url(../../assets/fonts/PlayfairDisplay-Bold.otf);
}

@font-face{
	font-family: playfair_italic;
	src: url(../../assets/fonts/PlayfairDisplay-Italic.otf);
}

@font-face{
	font-family: playfair_regular;
	src: url(../../assets/fonts/PlayfairDisplay-Regular.otf);
}

@font-face{
	font-family: raleway_light;
	src: url(../../assets/fonts/Raleway-Light.ttf);
}

@font-face{
	font-family: raleway_medium;
	src: url(../../assets/fonts/Raleway-Medium.ttf);
}

.playfair_bold{
	font-family: playfair_bold;
}

.playfair_italic{
	font-family: playfair_italic;
}

.playfair_regular{
	font-family: playfair_regular;
}

.raleway_medium{
	font-family: raleway_medium;
}

.raleway_light{
	font-family: raleway_light;
}

.lighter {
	font-weight: lighter;
}

.grey{
	color: #8e8b8b;
}

.white {
	color:white;
}

.font-sizeh1{
	font-size: 2.5rem;
}

.font-sizeh2{
	font-size: 2rem;
}

.font-size-p{
	font-size: 1.1rem;
}

.red{
	color: $font-colorful;
}