.margin{
	margin: .5rem;
}

.margin_up_down{
	margin: 1rem 0 1rem 0;
}

.margin_up_down2{
	margin: 2.2rem 0 2.2rem 0;
}

.margin_up_down3{
	margin: 3rem 0 2rem 0;
}

.margin_up_down4{
	margin: 1rem;
}

.margin_top{
	margin-top: 2rem;
}

.margin_bottom{
	margin-bottom: 2rem;
}

.social_media_margin{
	margin: 2rem .5rem 0 .5rem;
}

.padding{
	padding: 0 2rem 0 2rem;
}

.image-width1{
	width: 100%;
}

.image-width2{
	width: 50%;
}

.category_container{
	width: 100%;
}