.margin-one{
	margin-bottom: 1.5rem;
}

.margin-two{
	margin-bottom: 2.5rem;
}

.margin-three{
	margin-bottom: .75rem;
}

.margin-four{
	margin-top: 2.5rem;
}

.margin-five{
	margin: .5rem;
}

.margin-six{
	margin-top: 1rem;
}

.margin-seven{
	margin: .2rem;
}

.padding{
	padding: 0 2rem 0 2rem;
}

.image-width1{
	width: 100%;
}

.image-width2{
	width: 50%;
}

.category_container{
	width: 100%;
}

.category_padding{
	padding: 6rem;
}

.width{
	width:100%;
}

.width2{
	width:50%;
}

.width3{
	width: 30%
}

.fixed{
	background-position: fixed;
}


