.margin-one{
	margin-bottom: 1.5rem;
}

.margin-two{
	margin-bottom: 2.5rem;
}

.margin-three{
	margin-bottom: .75rem;
}

.margin-four{
	margin-top: 2.5rem;
}

.margin-five{
	margin: .5rem;
}

.margin-six{
	margin-top: 1rem;
}

.margin-seven{
	margin: .2rem;
}

.padding{
	padding: 0 2rem 0 2rem;
}

.image-width1{
	width: 100%;
}

.image-width2{
	width: 50%;
}

.category_container{
	width: 100%;
}

.category_padding{
	padding: 6rem;
}

.width{
	width:100%;
}

.width2{
	width:50%;
}

.width3{
	width: 30%
}

.fixed{
	background-position: fixed;
}

.margin{
	margin: .5rem;
}

.margin_up_down{
	margin: 1rem 0 1rem 0;
}

.margin_up_down2{
	margin: 2.2rem 0 2.2rem 0;
}

.margin_up_down3{
	margin: 3rem 0 2rem 0;
}

.margin_up_down4{
	margin: 1rem;
}

.margin_top{
	margin-top: 2rem;
}

.margin_bottom{
	margin-bottom: 2rem;
}

.social_media_margin{
	margin: 2rem .5rem 0 .5rem;
}

.padding{
	padding: 0 2rem 0 2rem;
}

.image-width1{
	width: 100%;
}

.image-width2{
	width: 50%;
}

.category_container{
	width: 100%;
}

