@media screen and (min-width: 1240px) {

  	.banner{
  		padding: 20% 0 20% 0;
  	}

 	.font-sizeh1{
		font-size: 3.5rem;
	}

	.font-sizeh2{
		font-size: 3rem;
	}

	.font-sizethree{
		font-size: 2.2rem;
	}


	.subscribe_form {
		width: 35%;
		padding: .3rem .3rem .3rem 2.2rem;
	}

	.subscribe_button{
		padding: .4rem;
	}
}

@media screen and (min-width: 1000px) {

	.font-sizetwo{
		font-size: 3.5rem
	}	

}

@media screen and (min-width: 1000px) and (max-width: 1239px){
  	.banner{
  		padding: 25% 0 25% 0;
  	}

  	.font-sizeh1{
		font-size: 3rem;
	}

	.font-sizeh2{
		font-size: 2.5rem;
	}

	.cartnum{
    	left: 2.3rem;
    	bottom: 4rem;
	}

	.font-sizethree{
		font-size: 2rem;
	}

	.subscribe_form {
		width: 45%;
		padding: .2rem .2rem .2rem 2.2rem;
	}

	.subscribe_button{
		padding: .4rem;
	}
}

@media screen and (min-width: 600px) {

	.menu{
		position: absolute;
		top: .7rem;
	}

	.cloned{
		background-color: rgba(0,0,0,0.6);
	}

	.width3{
		width: 100%;
	}

	.box{
		width: 50%;
	}

	.box_flip{
		flex-wrap: nowrap;
	}

	.men{
		border-right: .50rem solid white;
	}

	.glasses{
		border-bottom: .50rem solid white;
	}

	.women{
		border-left: .50rem solid white;
	}

	.bxslider{
		flex-direction: row;
		align-items: baseline;
	}

	.clothes{
		font-size: 1rem;
		width: 35%;
	}

	.contact_info {
		flex-direction: row;
		text-align: left;
	}

	.column_social_media {
		flex-direction: column;
		margin-right: 1rem;
	}
}

@media screen and (min-width: 600px) and (max-width: 999px){
  	.banner{
  		padding: 30% 0 30% 0;
  	}

// 	.subscribe_form {
// 		width: 45%;
// 		padding: .2rem .2rem .2rem 2rem;
// 	}
}

@media screen and (min-width: 0px) and (max-width: 599px) {

  	.menu{
  		position: absolute;
  		background-color: rgba(0,0,0,0.6);
  		ul li a{
  			opacity: 1;
  		}
  	}

  	.banner{
  		padding: 45% 0 45% 0;
  	}

  	.font-sizeh1{
		font-size: 2rem;
	}


	.font-sizeh2{
		font-size: 1.5rem;
	}

	.social_media_name {
  		display: none;
  	}

  	.women{
  		border-top: .50rem solid white;
  	}

}
